<div>

<h1>Purchase #<%= @purchase.id %></h1>

Quantity: <%= @purchase.quantity %>
<br />
Address: <%= @purchase.delivery_address %>
<br />
<%# TODO: Format the date time to make it more readable %>
Purchased at: <%= distance_of_time_in_words(@purchase.created_at, Time.now)  %>

<br />
<br />

<%# TODO: Open purchases#edit page %>
<%= link_to "Edit", edit_product_purchase_path(@product, @purchase.id)%>

&nbsp;&nbsp;

<%# TODO: Make a DELETE request to purchases#destroy %>
<%= link_to 'Delete', product_purchase_path() ,method: :delete, data: { confirm: 'Are you sure?' } %> 

</div>

<br />

<h2>Review</h2>

<% if @purchase.review_exist? %>
  <%# TODO: Display the review here %>
  <ul>
    <li><%= "Rating: #{@purchase.review.rating}" %></li>
    <li><%= "Comment: #{@purchase.review.comment}" %></li>
  </ul>
<% else %>
  <%= link_to 'Give a Review', new_review_url(review: { purchase_id: @purchase.id }) %>
<% end %>

</div>
